<h4 class="text-center">
Registre-se e mostre seu pet ao mundo!
</h4>

<form class="mt-4">
  <div class="mb-3">
    <input placeholder="E-mail"
           class="form-control">
  </div>
  <div class="mb-3">
    <input placeholder="Nome completo"
           class="form-control">
  </div>
  <div class="mb-3">
    <input placeholder="Usuário"
           class="form-control">
  </div>
  <div class="mb-3">
    <input placeholder="Senha"
           type="password"
           class="form-control">
  </div>
  <div  class="d-grid gap-2">
    <button class="btn btn-primary block">
      Cadastro
    </button>
</div>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça login</a></p>
