<h4 class="text-center">
Registre-se e mostre seu pet ao mundo!
</h4>

<form class="mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="mb-3">
    <input placeholder="E-mail"
           class="form-control"
           formControlName="email"> <!--Essa propriedade que faz a ligação de cada elemento com o do formulário -->
    <app-mensagem
          *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
          novoUsuarioForm.get('email')?.touched"
          mensagem="Campo Obrigatório"
    > </app-mensagem>
    <app-mensagem
    *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
    novoUsuarioForm.get('email')?.touched"
    mensagem="Formato incorreto"
    > </app-mensagem>
  </div>
  <div class="mb-3">
    <input placeholder="Nome completo"
           class="form-control"
           formControlName="fullName">
           <app-mensagem
           *ngIf="novoUsuarioForm.get('fullName')?.errors &&
           novoUsuarioForm.get('fullName')?.touched"
          mensagem="Campo Obrigatório"
    > </app-mensagem>
  </div>
  <div class="mb-3">
    <input placeholder="Usuário"
           class="form-control"
           formControlName="userName">
  </div>
  <div class="mb-3">
    <input placeholder="Senha"
           type="password"
           class="form-control"
           formControlName="password">
  </div>
  <div  class="d-grid gap-2">
    <button class="btn btn-primary block">
      Cadastro <!--Quando esse botão for submetido ele vai gatilhar o evento do formulário-->
    </button>
</div>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça login</a></p>
